/* Variables  */
@font-face {
  font-family: "Positive-System";
  src: url("Positive-System.woff"); }
@font-face {
  font-family: "ArcadeClassics";
  src: url("ARCADECLASSIC.woff"); }
@font-face {
  font-family: "VCR";
  src: url("VCR_OSD_MONO_1.001.woff"); }
@font-face {
  font-family: "atamiB";
  src: url("Atami-Bold.woff"); }
/* Colors */
/* nav styles */
ul {
  list-style: none;
  display: inline; }

.web.light .nav.navbar {
  width: 100%;
  height: 100%; }
  .web.light .nav.navbar .navbar-left {
    mix-blend-mode: difference;
    height: 5%;
    left: -2%;
    text-align: center;
    top: 45%;
    position: fixed;
    z-index: 400;
    transform: rotate(-90deg); }
    .web.light .nav.navbar .navbar-left a {
      color: #ff8383;
      transition: all .2s ease-in-out; }
      .web.light .nav.navbar .navbar-left a:hover {
        text-decoration: none;
        color: transparent;
        -webkit-text-stroke: 1px #f7ede9; }
  .web.light .nav.navbar .navbar-right {
    mix-blend-mode: difference;
    height: 100%;
    right: 0;
    top: 5%;
    text-align: center;
    width: 5%;
    position: fixed;
    z-index: 400; }
    .web.light .nav.navbar .navbar-right .links {
      transform: rotate(90deg);
      top: 40%;
      right: -85%;
      position: absolute;
      display: inline-flex; }
      .web.light .nav.navbar .navbar-right .links a {
        color: #ff8383;
        transition: all .2s ease-in-out;
        margin: 0 10px; }
        .web.light .nav.navbar .navbar-right .links a:hover {
          text-decoration: none;
          color: transparent;
          -webkit-text-stroke: 1px #f7ede9; }

.web.dark .nav.navbar {
  width: 100%;
  height: 100%; }
  .web.dark .nav.navbar .navbar-left {
    mix-blend-mode: difference;
    height: 5%;
    left: -2%;
    text-align: center;
    top: 45%;
    position: fixed;
    z-index: 400;
    transform: rotate(-90deg); }
    .web.dark .nav.navbar .navbar-left a {
      color: #6361ff;
      transition: all .2s ease-in-out; }
      .web.dark .nav.navbar .navbar-left a:hover {
        text-decoration: none;
        color: transparent;
        -webkit-text-stroke: 1px #f7ede9; }
  .web.dark .nav.navbar .navbar-right {
    mix-blend-mode: difference;
    height: 100%;
    right: 0;
    top: 5%;
    text-align: center;
    width: 5%;
    position: fixed;
    z-index: 400; }
    .web.dark .nav.navbar .navbar-right .links {
      transform: rotate(90deg);
      top: 40%;
      right: -85%;
      position: absolute;
      display: inline-flex; }
      .web.dark .nav.navbar .navbar-right .links a {
        color: #6361ff;
        transition: all .2s ease-in-out;
        margin: 0 10px; }
        .web.dark .nav.navbar .navbar-right .links a:hover {
          text-decoration: none;
          color: transparent;
          -webkit-text-stroke: 1px #f7ede9; }

.switch-wrap {
  transform: rotate(90deg);
  right: 0;
  display: block;
  position: absolute;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  margin-right: 15px; }

#switch,
#circle {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

#switch {
  width: 60px;
  height: 8px;
  margin: 0 auto;
  text-align: center;
  mix-blend-mode: normal;
  border: 2px solid #f7ede9;
  border-radius: 27px;
  background: #f7ede9;
  position: relative;
  display: inline-block; }

#circle {
  z-index: 200;
  position: absolute;
  top: -11px;
  left: 37px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #ff8383; }
  #circle:hover {
    background: #6361ff; }

.switched #switch {
  border: 2px solid #0034ff;
  background: #0034ff; }

.switched #circle {
  left: -5px;
  background: #9688ff; }
  .switched #circle:hover {
    background: #ff6161; }

/* global styles */
@media (max-width: 1449px) {
  .web.light {
    font-family: 'AtamiB', monospace;
    background-color: #f7ede9;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease-in-out; }
    .web.light .box {
      margin: 20px auto;
      border: 5px solid #ff6161;
      overflow: auto;
      padding: 10px 10px; }
      .web.light .box .social {
        margin: 20px auto; }
        .web.light .box .social .btn {
          margin: 10px auto;
          background: #6361ff;
          color: #f7ede9;
          font-family: 'AtamiB', monospace; }
        .web.light .box .social .btn.insta {
          margin: 10px auto;
          background: #feda75;
          background: linear-gradient(90deg, #feda75 0%, #fa7e1e 23%, #d62976 48%, #962fbf 75%, #4f5bd5 100%);
          color: #f7ede9;
          font-family: 'AtamiB', monospace;
          transition: all 0.5s ease-in-out; }
          .web.light .box .social .btn.insta:hover {
            background: transparent;
            color: #141817;
            border: 2px solid;
            border-image: linear-gradient(90deg, #feda75 0%, #fa7e1e 23%, #d62976 48%, #962fbf 75%, #4f5bd5 100%); }
      .web.light .box .fixed {
        padding: 20px; }
      .web.light .box h1, .web.light .box h2, .web.light .box h3, .web.light .box p {
        color: #ff6161;
        display: inline; }
      .web.light .box h1 {
        font-size: 1.5em; }
      .web.light .box h2 {
        font-size: 2em; }
      .web.light .box .title:hover {
        animation-name: title;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out; }
  @keyframes title {
    0% {
      color: #6361ff; }
    50% {
      color: #141817; }
    100% {
      color: #ff6161; } }
      .web.light .box .imcul:after {
        content: attr(data-text);
        background-color: #ff6161;
        font-family: 'arcadeclassics', monospace;
        left: 3px;
        font-size: inherit;
        text-shadow: -2px 0 red;
        top: 0;
        color: inherit;
        overflow: hidden;
        animation: 9s infinite linear alternate-reverse; }
      .web.light .box .imcul:before {
        content: attr(data-text);
        font-family: 'arcadeclassics', monospace;
        left: -2px;
        text-shadow: 2px 0 blue;
        top: 0;
        font-size: inherit;
        color: inherit;
        overflow: hidden;
        animation: 10s infinite linear alternate-reverse; }

  #Main {
    display: none; } }
@media (min-width: 1450px) {
  .toosmall {
    display: none; }

  * {
    cursor: none;
    scroll-behavior: smooth; }

  .web.light {
    font-family: 'AtamiB', monospace;
    background-color: #f7ede9;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease-in-out; }
    .web.light.art {
      background: #ff6161; }
    .web.light .first, .web.light section {
      height: 800px; } }
    @media only screen and (min-width: 1450px) and (max-height: 1200px) {
      .web.light .first, .web.light section {
        min-height: 1200px;
        height: 100%; } }
    @media only screen and (min-width: 1450px) and (max-height: 1100px) {
      .web.light .first, .web.light section {
        height: 100%;
        min-height: 1100px; } }
    @media only screen and (min-width: 1450px) and (max-height: 1000px) {
      .web.light .first, .web.light section {
        height: 100%;
        min-height: 1000px; } }
    @media only screen and (min-width: 1450px) and (max-height: 900px) {
      .web.light .first, .web.light section {
        height: 100%;
        min-height: 900px; } }
    @media only screen and (min-width: 1450px) and (max-height: 800px) {
      .web.light .first, .web.light section {
        height: 100%;
        min-height: 800px; } }
    @media only screen and (min-width: 1450px) and (max-height: 700px) {
      .web.light .first, .web.light section {
        height: 100%;
        min-height: 700px; } }
    @media only screen and (min-width: 1450px) and (max-height: 1200px) {
      .web.light .first#contact, .web.light section#contact {
        min-height: 800px;
        height: 100%; } }
    @media only screen and (min-width: 1450px) and (max-height: 1100px) {
      .web.light .first#contact, .web.light section#contact {
        height: 100%;
        min-height: 700px; } }
    @media only screen and (min-width: 1450px) and (max-height: 1000px) {
      .web.light .first#contact, .web.light section#contact {
        height: 100%;
        min-height: 600px; } }
    @media only screen and (min-width: 1450px) and (max-height: 900px) {
      .web.light .first#contact, .web.light section#contact {
        height: 100%;
        min-height: 500px; } }
    @media only screen and (min-width: 1450px) and (max-height: 800px) {
      .web.light .first#contact, .web.light section#contact {
        height: 100%;
        min-height: 500px; } }
    @media only screen and (min-width: 1450px) and (max-height: 700px) {
      .web.light .first#contact, .web.light section#contact {
        height: 100%;
        min-height: 500px; } }
@media (min-width: 1450px) {
    .web.light .fixed {
      position: fixed;
      padding: 10px 10px;
      margin: 15% 5% 15% 0;
      z-index: -10;
      text-align: center; }
      .web.light .fixed.art {
        position: relative;
        z-index: 10;
        margin: 0; }
        .web.light .fixed.art h1 {
          text-shadow: -5px 0 #f7ede9;
          -webkit-text-stroke: 1px #f7ede9; }
        .web.light .fixed.art p {
          color: #f7ede9; }
        .web.light .fixed.art .imcul:after {
          content: attr(data-text);
          font-family: 'arcadeclassics', monospace;
          font-size: inherit;
          text-shadow: -4px 0 red;
          overflow: hidden;
          animation: 9s infinite linear alternate-reverse; }
      .web.light .fixed.works {
        position: relative;
        z-index: 10;
        width: 40vw;
        margin: 0;
        display: inline-block;
        text-align: left; }
        .web.light .fixed.works.right {
          float: right;
          text-align: right; }
        .web.light .fixed.works h1 {
          text-shadow: -5px 0 #f7ede9;
          -webkit-text-stroke: 1px #f7ede9;
          color: #141817; }
        .web.light .fixed.works p {
          color: #f7ede9; }
        .web.light .fixed.works .imcul:after {
          content: attr(data-text);
          font-family: 'arcadeclassics', monospace;
          font-size: inherit;
          text-shadow: -4px 0 red;
          overflow: hidden;
          background-color: transparent;
          color: #141817;
          animation: 9s infinite linear alternate-reverse; }
      .web.light .fixed.contact {
        position: relative;
        z-index: 10;
        width: 65%;
        margin: 70px 0;
        display: inline-block; }
        .web.light .fixed.contact.right {
          float: right; }
        .web.light .fixed.contact h1 {
          text-shadow: -5px 0 #141817;
          -webkit-text-stroke: 1px #141817;
          color: #f7ede9; }
        .web.light .fixed.contact p {
          color: #141817; }
        .web.light .fixed.contact .imcul:after {
          content: attr(data-text);
          font-family: 'arcadeclassics', monospace;
          font-size: inherit;
          text-shadow: -4px 0 red;
          overflow: hidden;
          background-color: transparent;
          color: #f7ede9;
          animation: 9s infinite linear alternate-reverse; }
        .web.light .fixed.contact .contact-info {
          margin: 30px 0;
          text-align: left; }
          .web.light .fixed.contact .contact-info h3 {
            padding: 30px;
            line-height: 50px; }
          .web.light .fixed.contact .contact-info p {
            line-height: 50px;
            background-color: #6361ff;
            width: 107%;
            display: inline-block;
            padding: 0 220px;
            margin: 10px -100px; }
          .web.light .fixed.contact .contact-info a {
            display: inline-block;
            position: relative;
            color: #f7ede9; }
            .web.light .fixed.contact .contact-info a:hover {
              text-decoration: none;
              color: #ff6161; }
      .web.light .fixed.bg {
        position: sticky;
        padding: 10px 10px;
        margin: 15% 5% 15% 0;
        z-index: -10;
        background: #f7ede9; }
      .web.light .fixed h1, .web.light .fixed h2, .web.light .fixed h3, .web.light .fixed p {
        color: #ff6161;
        display: inline; }
      .web.light .fixed h1 {
        font-size: 3.5em; }
      .web.light .fixed h2 {
        font-size: 50px; }
      .web.light .fixed .title:hover {
        animation-name: title;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out; }
  @keyframes title {
    0% {
      color: #6361ff; }
    50% {
      color: #141817; }
    100% {
      color: #ff6161; } }
      .web.light .fixed .imcul:after {
        content: attr(data-text);
        background-color: #ff6161;
        font-family: 'arcadeclassics', monospace;
        left: 3px;
        font-size: inherit;
        text-shadow: -2px 0 red;
        top: 0;
        color: inherit;
        overflow: hidden;
        animation: 9s infinite linear alternate-reverse; }
      .web.light .fixed .imcul:before {
        content: attr(data-text);
        font-family: 'arcadeclassics', monospace;
        left: -2px;
        text-shadow: 2px 0 blue;
        top: 0;
        font-size: inherit;
        color: inherit;
        overflow: hidden;
        animation: 10s infinite linear alternate-reverse; }
    .web.light .bg-img {
      max-width: 100%;
      background-color: #f7ede9;
      background-attachment: fixed;
      z-index: 200;
      mix-blend-mode: overlay; }
    .web.light section {
      padding: 0 5%; }
      .web.light section#art {
        background: #ff6161; }
      .web.light section#works {
        background: #141817; }
      .web.light section#contact {
        background: #f7ede9; }
      .web.light section .png {
        width: 40%;
        position: absolute;
        display: block;
        right: 5px;
        bottom: -116%;
        z-index: 0; }
      .web.light section .itbtxt {
        padding: 5px 0;
        margin-left: -6px;
        width: 100.6%;
        color: #f7ede9; }
        .web.light section .itbtxt h2, .web.light section .itbtxt p {
          background-color: #6361ff;
          margin-bottom: .5rem;
          padding-left: 10px; }
      .web.light section .car {
        margin-top: 40px;
        width: 40%;
        position: sticky;
        animation-name: car;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out; }
  @keyframes car {
    0% {
      left: 0px;
      transform: rotate(-2deg); }
    50% {
      left: 15px;
      transform: rotate(-4deg); }
    100% {
      left: 0px;
      transform: rotate(-2deg); } }
      .web.light section .block {
        width: 100%;
        background: #ff6161;
        height: 120px;
        position: relative;
        z-index: 200;
        border-bottom: 10px dashed #6361ff; }
      .web.light section .block.title {
        width: 100%;
        background: #ff6161;
        height: 120px;
        position: relative;
        z-index: 200;
        border: none;
        text-align: center; }
        .web.light section .block.title h1 {
          font-size: 3em;
          padding: 25px;
          text-shadow: -5px 0 #f7ede9;
          -webkit-text-stroke: 1px #f7ede9;
          color: transparent; }
      .web.light section .bg {
        width: 100%;
        background: #f7ede9;
        height: 100%;
        position: relative;
        padding: 30px 0; }
        .web.light section .bg .carousel-item {
          text-align: center; }
          .web.light section .bg .carousel-item .itbtxt {
            width: 40%;
            display: inline-block; }
          .web.light section .bg .carousel-item .pic {
            height: 90vh;
            display: inline-block;
            position: relative;
            margin: 5px auto; }
        .web.light section .bg .carousel-control-prev-icon, .web.light section .bg .carousel-control-next-icon {
          width: 40px;
          height: 40px; }
        .web.light section .bg .carousel-control-next, .web.light section .bg .carousel-control-prev {
          color: #6361ff;
          mix-blend-mode: difference; }
      .web.light section .bg-art {
        width: 100%;
        background: #ff6161;
        display: block;
        padding: 30px 0;
        margin: 0; }
        .web.light section .bg-art .carousel-item {
          text-align: center; }
          .web.light section .bg-art .carousel-item .pic {
            height: 80vh;
            display: inline-block;
            position: relative;
            margin: 5px auto; }
        .web.light section .bg-art .carousel-control-prev-icon, .web.light section .bg-art .carousel-control-next-icon {
          width: 40px;
          height: 40px; }
        .web.light section .bg-art .carousel-control-next, .web.light section .bg-art .carousel-control-prev {
          color: #6361ff;
          mix-blend-mode: difference; }
      .web.light section .bg-works {
        display: inline-block;
        padding: 30px 0;
        margin: 0;
        padding: 80px 0;
        height: 100%; }
        .web.light section .bg-works .pic {
          width: 100%;
          display: inline-block;
          position: relative;
          margin: 5px; }
        .web.light section .bg-works .carousel {
          position: relative;
          display: block;
          width: 50%;
          float: right; }
          .web.light section .bg-works .carousel.left {
            float: none;
            display: inline-block; }
          .web.light section .bg-works .carousel .carousel-control-next, .web.light section .bg-works .carousel .carousel-control-prev {
            color: #f7ede9;
            mix-blend-mode: difference; }
      .web.light section .bg-contact {
        width: 100%;
        height: 800px;
        display: block;
        margin: 0;
        border-left: 20px dashed #141817;
        border-right: 20px dashed #141817; }
        .web.light section .bg-contact .pic {
          height: 800px;
          display: inline-block;
          position: absolute;
          margin: 5px;
          z-index: 200; }
        .web.light section .bg-contact .btn {
          margin: 10px auto;
          background: #6361ff;
          color: #f7ede9;
          font-family: 'AtamiB', monospace; }
          .web.light section .bg-contact .btn:hover {
            cursor: none;
            background: transparent;
            color: #141817;
            border: 2px solid #6361ff; }
        .web.light section .bg-contact .btn.insta {
          margin: 10px auto;
          background: #feda75;
          background: linear-gradient(90deg, #feda75 0%, #fa7e1e 23%, #d62976 48%, #962fbf 75%, #4f5bd5 100%);
          color: #f7ede9;
          font-family: 'AtamiB', monospace;
          transition: all 0.5s ease-in-out; }
          .web.light section .bg-contact .btn.insta:hover {
            cursor: none;
            background: transparent;
            color: #141817;
            border: 2px solid;
            border-image: linear-gradient(90deg, #feda75 0%, #fa7e1e 23%, #d62976 48%, #962fbf 75%, #4f5bd5 100%); }
    .web.light .circle-cursor {
      position: fixed;
      left: 0;
      top: 0;
      pointer-events: none;
      border-radius: 50%; }
      .web.light .circle-cursor--outer {
        width: 40px;
        height: 40px;
        border: 1.5px solid #fff;
        mix-blend-mode: difference;
        z-index: 12000;
        opacity: 0.5; }
      .web.light .circle-cursor--inner {
        mix-blend-mode: difference;
        width: 10px;
        height: 10px;
        left: -5px;
        top: -5px;
        z-index: 12000;
        background: #fff; }

  .web.dark {
    font-family: 'AtamiB', monospace;
    background-color: #141817;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease-in-out; }
    .web.dark.art {
      background: #6361ff; }
    .web.dark .first, .web.dark section {
      height: 800px; } }
    @media only screen and (min-width: 1450px) and (max-height: 1200px) {
      .web.dark .first, .web.dark section {
        min-height: 1200px;
        height: 100%; } }
    @media only screen and (min-width: 1450px) and (max-height: 1100px) {
      .web.dark .first, .web.dark section {
        height: 100%;
        min-height: 1100px; } }
    @media only screen and (min-width: 1450px) and (max-height: 1000px) {
      .web.dark .first, .web.dark section {
        height: 100%;
        min-height: 1000px; } }
    @media only screen and (min-width: 1450px) and (max-height: 900px) {
      .web.dark .first, .web.dark section {
        height: 100%;
        min-height: 900px; } }
    @media only screen and (min-width: 1450px) and (max-height: 800px) {
      .web.dark .first, .web.dark section {
        height: 100%;
        min-height: 800px; } }
    @media only screen and (min-width: 1450px) and (max-height: 700px) {
      .web.dark .first, .web.dark section {
        height: 100%;
        min-height: 700px; } }
    @media only screen and (min-width: 1450px) and (max-height: 1200px) {
      .web.dark .first#contact, .web.dark section#contact {
        min-height: 800px;
        height: 100%; } }
    @media only screen and (min-width: 1450px) and (max-height: 1100px) {
      .web.dark .first#contact, .web.dark section#contact {
        height: 100%;
        min-height: 700px; } }
    @media only screen and (min-width: 1450px) and (max-height: 1000px) {
      .web.dark .first#contact, .web.dark section#contact {
        height: 100%;
        min-height: 600px; } }
    @media only screen and (min-width: 1450px) and (max-height: 900px) {
      .web.dark .first#contact, .web.dark section#contact {
        height: 100%;
        min-height: 500px; } }
    @media only screen and (min-width: 1450px) and (max-height: 800px) {
      .web.dark .first#contact, .web.dark section#contact {
        height: 100%;
        min-height: 500px; } }
    @media only screen and (min-width: 1450px) and (max-height: 700px) {
      .web.dark .first#contact, .web.dark section#contact {
        height: 100%;
        min-height: 500px; } }
@media (min-width: 1450px) {
    .web.dark .fixed {
      position: fixed;
      padding: 10px 10px;
      margin: 15% 5% 15% 0;
      z-index: -10;
      text-align: center; }
      .web.dark .fixed.art {
        position: relative;
        z-index: 10;
        margin: 0; }
        .web.dark .fixed.art h1 {
          text-shadow: -5px 0 #141817;
          -webkit-text-stroke: 1px #141817; }
        .web.dark .fixed.art p {
          color: #141817; }
        .web.dark .fixed.art .imcul:after {
          content: attr(data-text);
          font-family: 'arcadeclassics', monospace;
          font-size: inherit;
          text-shadow: -4px 0 blue;
          overflow: hidden;
          animation: 9s infinite linear alternate-reverse; }
      .web.dark .fixed.works {
        position: relative;
        z-index: 10;
        width: 50%;
        margin: 0;
        display: inline-block;
        text-align: left; }
        .web.dark .fixed.works.right {
          float: right;
          text-align: right; }
        .web.dark .fixed.works h1 {
          text-shadow: -5px 0 #f7ede9;
          -webkit-text-stroke: 1px #f7ede9;
          color: #37363c; }
        .web.dark .fixed.works p {
          color: #f7ede9; }
        .web.dark .fixed.works .imcul:after {
          content: attr(data-text);
          font-family: 'arcadeclassics', monospace;
          font-size: inherit;
          text-shadow: -4px 0 blue;
          overflow: hidden;
          background-color: transparent;
          color: #141817;
          animation: 9s infinite linear alternate-reverse; }
      .web.dark .fixed.contact {
        position: relative;
        z-index: 10;
        width: 70%;
        margin: 70px 0;
        display: inline-block; }
        .web.dark .fixed.contact.right {
          float: right; }
        .web.dark .fixed.contact h1 {
          text-shadow: -5px 0 #f7ede9;
          -webkit-text-stroke: 1px #f7ede9;
          color: #141817; }
        .web.dark .fixed.contact p {
          color: #f7ede9; }
        .web.dark .fixed.contact .imcul:after {
          content: attr(data-text);
          font-family: 'arcadeclassics', monospace;
          font-size: inherit;
          text-shadow: -4px 0 blue;
          overflow: hidden;
          background-color: transparent;
          color: #f7ede9;
          animation: 9s infinite linear alternate-reverse; }
        .web.dark .fixed.contact .contact-info {
          margin: 30px 0;
          text-align: left; }
          .web.dark .fixed.contact .contact-info h3 {
            padding: 30px;
            line-height: 50px; }
          .web.dark .fixed.contact .contact-info p {
            line-height: 50px;
            background-color: #ff6161;
            width: 107%;
            display: inline-block;
            padding: 0 220px;
            margin: 10px -100px; }
          .web.dark .fixed.contact .contact-info a {
            display: inline-block;
            position: relative;
            color: #141817; }
            .web.dark .fixed.contact .contact-info a:hover {
              text-decoration: none;
              color: #6361ff; }
      .web.dark .fixed.bg {
        position: sticky;
        padding: 10px 10px;
        margin: 15% 5% 15% 0;
        z-index: -10;
        background: #141817; }
      .web.dark .fixed h1, .web.dark .fixed h2, .web.dark .fixed h3, .web.dark .fixed p {
        color: #6361ff;
        display: inline; }
      .web.dark .fixed h1 {
        font-size: 3.5em; }
      .web.dark .fixed h2 {
        font-size: 50px; }
      .web.dark .fixed .title:hover {
        animation-name: title;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out; }
  @keyframes title {
    0% {
      color: #6361ff; }
    50% {
      color: #141817; }
    100% {
      color: #ff6161; } }
      .web.dark .fixed .imcul:after {
        content: attr(data-text);
        background-color: #6361ff;
        font-family: 'arcadeclassics', monospace;
        left: 3px;
        font-size: inherit;
        text-shadow: -2px 0 blue;
        top: 0;
        color: inherit;
        overflow: hidden;
        animation: 9s infinite linear alternate-reverse; }
      .web.dark .fixed .imcul:before {
        content: attr(data-text);
        font-family: 'arcadeclassics', monospace;
        left: -2px;
        text-shadow: 2px 0 red;
        top: 0;
        font-size: inherit;
        color: inherit;
        overflow: hidden;
        animation: 10s infinite linear alternate-reverse; }
    .web.dark .bg-img {
      max-width: 100%;
      background-color: #f7ede9;
      background-attachment: fixed;
      z-index: 200;
      mix-blend-mode: overlay; }
    .web.dark section {
      padding: 0 5%; }
      .web.dark section#art {
        background: #6361ff; }
      .web.dark section#works {
        background: #37363c; }
      .web.dark section#contact {
        background: #141817; }
      .web.dark section .png {
        width: 40%;
        position: absolute;
        display: block;
        right: 5px;
        bottom: -116%;
        z-index: 0; }
      .web.dark section .itbtxt {
        padding: 5px 0;
        margin-left: -6px;
        width: 100.6%;
        color: #f7ede9; }
        .web.dark section .itbtxt h2, .web.dark section .itbtxt p {
          background-color: #ff6161;
          margin-bottom: .5rem;
          padding-left: 10px; }
      .web.dark section .car {
        margin-top: 40px;
        width: 40%;
        position: sticky;
        animation-name: car;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out; }
  @keyframes car {
    0% {
      left: 0px;
      transform: rotate(-2deg); }
    50% {
      left: 15px;
      transform: rotate(-4deg); }
    100% {
      left: 0px;
      transform: rotate(-2deg); } }
      .web.dark section .block {
        width: 100%;
        background: #6361ff;
        height: 120px;
        position: relative;
        z-index: 200;
        border-bottom: 10px dashed #ff6161; }
      .web.dark section .block.title {
        width: 100%;
        background: #6361ff;
        height: 120px;
        position: relative;
        z-index: 200;
        border: none;
        text-align: center; }
        .web.dark section .block.title h1 {
          font-size: 3em;
          padding: 25px;
          text-shadow: -5px 0 #141817;
          -webkit-text-stroke: 1px #141817;
          color: transparent; }
      .web.dark section .bg {
        width: 100%;
        background: #141817;
        height: 100%;
        position: relative;
        padding: 30px 0; }
        .web.dark section .bg .carousel-item {
          text-align: center; }
          .web.dark section .bg .carousel-item .itbtxt {
            width: 40%;
            display: inline-block; }
          .web.dark section .bg .carousel-item .pic {
            height: 90vh;
            display: inline-block;
            position: relative;
            margin: 5px auto; }
        .web.dark section .bg .carousel-control-prev-icon, .web.dark section .bg .carousel-control-next-icon {
          width: 40px;
          height: 40px; }
        .web.dark section .bg .carousel-control-next, .web.dark section .bg .carousel-control-prev {
          color: #6361ff;
          mix-blend-mode: difference; }
      .web.dark section .bg-art {
        width: 100%;
        background: #6361ff;
        display: block;
        padding: 30px 0;
        margin: 0; }
        .web.dark section .bg-art .carousel-item {
          text-align: center; }
          .web.dark section .bg-art .carousel-item .pic {
            height: 80vh;
            display: inline-block;
            position: relative;
            margin: 5px auto; }
        .web.dark section .bg-art .carousel-control-prev-icon, .web.dark section .bg-art .carousel-control-next-icon {
          width: 40px;
          height: 40px; }
        .web.dark section .bg-art .carousel-control-next, .web.dark section .bg-art .carousel-control-prev {
          color: #6361ff;
          mix-blend-mode: difference; }
      .web.dark section .bg-works {
        display: inline-block;
        padding: 30px 0;
        margin: 0;
        padding: 80px 0;
        height: 100%; }
        .web.dark section .bg-works .pic {
          width: 100%;
          display: inline-block;
          position: relative;
          margin: 5px; }
        .web.dark section .bg-works .carousel {
          position: relative;
          display: block;
          width: 50%;
          float: right; }
          .web.dark section .bg-works .carousel.left {
            float: none;
            display: inline-block; }
          .web.dark section .bg-works .carousel .carousel-control-next, .web.dark section .bg-works .carousel .carousel-control-prev {
            color: #f7ede9;
            mix-blend-mode: difference; }
      .web.dark section .bg-contact {
        width: 100%;
        height: 800px;
        display: block;
        margin: 0;
        border-left: 20px dashed #f7ede9;
        border-right: 20px dashed #f7ede9; }
        .web.dark section .bg-contact .pic {
          height: 800px;
          display: inline-block;
          position: absolute;
          margin: 5px;
          z-index: 200; }
        .web.dark section .bg-contact .btn {
          margin: 10px auto;
          background: #6361ff;
          color: #141817;
          font-family: 'AtamiB', monospace; }
          .web.dark section .bg-contact .btn:hover {
            cursor: none;
            background: transparent;
            color: #f7ede9;
            border: 2px solid #6361ff; }
        .web.dark section .bg-contact .btn.insta {
          margin: 10px auto;
          background: #feda75;
          background: linear-gradient(90deg, #feda75 0%, #fa7e1e 23%, #d62976 48%, #962fbf 75%, #4f5bd5 100%);
          color: #141817;
          font-family: 'AtamiB', monospace;
          transition: all 0.5s ease-in-out; }
          .web.dark section .bg-contact .btn.insta:hover {
            cursor: none;
            background: transparent;
            color: #f7ede9;
            border: 2px solid;
            border-image: linear-gradient(90deg, #feda75 0%, #fa7e1e 23%, #d62976 48%, #962fbf 75%, #4f5bd5 100%); }
    .web.dark .circle-cursor {
      position: fixed;
      left: 0;
      top: 0;
      pointer-events: none;
      border-radius: 50%; }
      .web.dark .circle-cursor--outer {
        width: 40px;
        height: 40px;
        border: 1.5px solid #fff;
        mix-blend-mode: difference;
        z-index: 12000;
        opacity: 0.5; }
      .web.dark .circle-cursor--inner {
        mix-blend-mode: difference;
        width: 10px;
        height: 10px;
        left: -5px;
        top: -5px;
        z-index: 12000;
        background: #fff; } }
/* Neon 
@import "neon";
*/

/*# sourceMappingURL=main.css.map */
