html{
    scroll-behavior: smooth;

    .web.light{
        max-width: 100vw;
        overflow-x: hidden;
        font-family: 'Roboto Mono', monospace;
        background: $main-light-color;
        color: #000;
        // SECTION BLOC
        
        .section {
            min-height: 100vh;
            position: relative;
        }
        
        .section--horizontal {
            height: 300vw;
        
            .section__inner {
            width: 300vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            }
        }
        
        .section--isFixed {
            .section__inner {
            position: fixed;
            }
        }
        
        .section--isScrolled {
            .section__inner {
            bottom: 0;
            top: auto;
            }
        }
        
        // PRODUCTS BLOC
        
        .products {
            display: flex;
        }
        
        .products__product {
            flex-basis: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 100px;
        }

        //typewriter

        .terminal {
            position: absolute;
            left: 10%;
            top: 50%;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
            font-family: 'Roboto Mono', monospace;
            color: #000;
        }
        
        .dollar:before {
            content: '$';
            color: #52a563;
        }
        
        a {
            font: 12px "Monaco", Inconsolata, monospace;

        }
    }
    .web.dark{
        max-width: 100vw;
        overflow-x: hidden;
        font-family: 'VCR', monospace;
        background: $main-color;
        color: $p-color;
        // SECTION BLOC
        
        .section {
            min-height: 100vh;
            position: relative;
        }
        
        .section--horizontal {
            height: 300vw;
        
            .section__inner {
            width: 300vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            }
        }
        
        .section--isFixed {
            .section__inner {
            position: fixed;
            }
        }
        
        .section--isScrolled {
            .section__inner {
            bottom: 0;
            top: auto;
            }
        }
        
        // PRODUCTS BLOC
        
        .products {
            display: flex;
        }
        
        .products__product {
            flex-basis: 100vw;
            height: 100vh;
            display: flex;

        }

        button:focus{
            outline:none;
          }
          .box{
            background:$main-color;
            border-width:2px;
            border-color:#FFFFFF #808080 #808080 #FFFFFF;
            border-style:solid;
            position:absolute;
            width: 30%;
            height: 30%;
            top: 50%;
            left: 20%;
            transform: translate(-50%,-50%);
            padding:1px;
          }
          div.title{
            height:20px;
            width:100%;
            background:#000080;
            color:#FFF;
          }
          img.title{
            float:left;
          }
          p.title{
            margin:2px 0 0 1px;
            float:left;
          }
          .title button{
            /*position:absolute;
            right:3px;
            top:3px;*/
            margin:2px 2px 2px 0;
            float:right;
            width:14px;
            height:13.5px;
            background:#C0C0C0;
            border-width:1px;
            border-color:#FFFFFF #808080 #808080 #FFFFFF;
            padding:0;
          }
          div.body{
            padding:13px 12px 12px;
            height:100%;
            width:100%;
            display:inline-block;
            color: #333;
          }
          .insta {
            font-family: 'VCR', monospace;
                margin: 50px;
                border: 2px solid;
                border-bottom-color: #535353;
                border-right-color: #535353;
                border-left-color: #dbdbdb;
                border-top-color: #dbdbdb;
                background-color: #bfbfbf;
                width: 450px;
                height: 700px;
                font-size: 13px;
                padding: 2px;
                .stats{
                    width: 50%;
                    text-align: center;
                    margin: 10px 40px;
                }
                ul.toolbar {
                    list-style: none;
                    position: absolute;
                    padding: 2px 0;
                    margin: 0;
                    color: #333;
                    li {
                        display: inline-block;
                        padding: 0 5px;
                    }
                }
                .follow{
                    margin:2px 2px 2px 0;
                    background:#C0C0C0;
                    border-width:2px;
                    border-color:#FFFFFF #808080 #808080 #FFFFFF;
                    padding:0;
                    width: 100%;
                }
                .ig-btn{
                    margin:2px 2px 2px 0;
                    background:#C0C0C0;
                    border-width:2px;
                    border-color:#FFFFFF #808080 #808080 #FFFFFF;
                    padding:0;
                    width: 23%;
                }
                button.ig-btn.active {
                    border-style: inset;
                    border-width: 2px;
                    border-color: #808080 #FFFFFF #FFFFFF #808080;
                }
                hr{
                    border-top: 2px solid #333;
                    margin-bottom: 0.4em;
                }
                .profile{
                    border-radius: 100%;
                    width: 100px;
                    height: 100px;
                    margin: 0 15px 15px 25px;
                    background: #000;
                }
                .pictures{
                    border-style: inset;
                    border-width: 2px;
                    border-color: #808080 #FFFFFF #FFFFFF #808080;
                }
            }
            .statusbar {
              .left, .right {
                border: 1px solid;
                border-color: #888 #dadada #dadada #888;
                display: inline-block;
                padding: 0px 5px;
                font-size: 11px;
              }
              .left {
                width: 33%;
              }
              .right {
                width: 66%;
              }
            }
          

        //typewriter

        .terminal {
            text-shadow: 0px 0px 5px #fff;
            font-family: 'VCR', monospace;
            color: $p-color;
        }
        
        .dollar:before {
            content: '$';
            color: #ffffff;
        }
        
        a {
            font: 12px "Monaco", Inconsolata, monospace;

        }
    }
}