@media (max-width: 1449px){
    .web.light{
        font-family: 'AtamiB', monospace;
        background-color: $main-light-color;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        transition: background-color 0.5s ease-in-out;
        .box{
            margin: 20px auto;
            border: 5px solid $font-light-color;
            overflow: auto;
            padding: 10px 10px;
            .social{
                margin: 20px auto;
                .btn{
                    margin: 10px auto;
                    background: $font-color;
                    color: $main-light-color;
                    font-family: 'AtamiB', monospace;
                }
                .btn.insta{
                    margin: 10px auto;
                    background: rgb(254,218,117);
                    background: linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 23%, rgba(214,41,118,1) 48%, rgba(150,47,191,1) 75%, rgba(79,91,213,1) 100%);
                    color: $main-light-color;
                    font-family: 'AtamiB', monospace;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        background: transparent;
                        color: $main-color;
                        border: 2px solid;
                        border-image: linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 23%, rgba(214,41,118,1) 48%, rgba(150,47,191,1) 75%, rgba(79,91,213,1) 100%);
                    }
                }                
            }

            .fixed{
                padding: 20px;
            }
            h1, h2, h3, p{
                color: #ff6161;
                display: inline;
            }
            h1{
                font-size: 1.5em;
            }
            h2{
                font-size: 2em;
            }
            .title:hover{
                animation-name: title;
                animation-duration: 5s;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }
            @keyframes title {
                0% {
                    color: $font-color;
                }
                50% {
                    color: $main-color;
                }
                100% {color: $font-light-color;}
            }
            .imcul:after{
                content:attr(data-text);
                background-color: #ff6161;
                font-family:  'arcadeclassics', monospace;
                left:3px;
                font-size: inherit;
                text-shadow:-2px 0 red;
                top:0;
                color:inherit;
                overflow:hidden;
                animation:9s infinite linear alternate-reverse;
            }

            .imcul:before{
                content:attr(data-text);
                font-family:  'arcadeclassics', monospace;
                left:-2px;
                text-shadow:2px 0 blue; 
                top:0;
                font-size: inherit;
                color:inherit;
                overflow:hidden; 
                animation:10s infinite linear alternate-reverse;
            }
        }
    }
    #Main {
        display: none;
    }
}


@media (min-width: 1450px){
    .toosmall{
        display: none;
    }
    *{
        cursor: none;
        scroll-behavior: smooth;
    }

    .web.light{
        font-family: 'AtamiB', monospace;
        background-color: $main-light-color;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        transition: background-color 0.5s ease-in-out;
        &.art{
            background: $font-light-color;
        }
        .first, section{
            height: 800px;
            @media only screen and (max-height: 1200px) {
                min-height: 1200px;
                height: 100%;
            }
            @media only screen and (max-height: 1100px) {
                height: 100%;
                min-height: 1100px;
            }
            @media only screen and (max-height: 1000px) {
                height: 100%;
                min-height: 1000px;
            }
            @media only screen and (max-height: 900px) {
                height: 100%;
                min-height: 900px;
            }
            @media only screen and (max-height: 800px) {
                height: 100%;
                min-height: 800px;
            }
            @media only screen and (max-height: 700px) {
                height: 100%;
                min-height: 700px;
            }
            &#contact{
                @media only screen and (max-height: 1200px) {
                    min-height: 800px;
                    height: 100%;
                }
                @media only screen and (max-height: 1100px) {
                    height: 100%;
                    min-height: 700px;
                }
                @media only screen and (max-height: 1000px) {
                    height: 100%;
                    min-height: 600px;
                }
                @media only screen and (max-height: 900px) {
                    height: 100%;
                    min-height: 500px;
                }
                @media only screen and (max-height: 800px) {
                    height: 100%;
                    min-height: 500px;
                }
                @media only screen and (max-height: 700px) {
                    height: 100%;
                    min-height: 500px;
                }
            }

        }
        .fixed{
            position: fixed;
            padding: 10px 10px;
            margin: 15% 5% 15% 0;
            z-index: -10;
            text-align: center;
            &.art{
                position: relative;
                z-index: 10;
                margin: 0;
                h1{
                    text-shadow: -5px 0 $main-light-color; 
                    -webkit-text-stroke: 1px $main-light-color;
                }
                p{
                    color: $main-light-color;
                }
                .imcul:after{
                    content:attr(data-text);
                    font-family:  'arcadeclassics', monospace;
                    font-size: inherit;
                    text-shadow:-4px 0 red;
                    overflow:hidden;
                    animation:9s infinite linear alternate-reverse;
                }
            }
            &.works{
                position: relative;
                z-index: 10;
                width: 40vw;
                margin: 0;
                display: inline-block;
                text-align: left;
                &.right{
                    float: right;
                    text-align: right;
                }
                h1{
                    text-shadow: -5px 0 $main-light-color; 
                    -webkit-text-stroke: 1px $main-light-color;
                    color: $main-color;
                }
                p{
                    color: $main-light-color;
                }
                .imcul:after{
                    content:attr(data-text);
                    font-family:  'arcadeclassics', monospace;
                    font-size: inherit;
                    text-shadow:-4px 0 red;
                    overflow:hidden;
                    background-color: transparent;
                    color: $main-color;
                    animation:9s infinite linear alternate-reverse;
                }
            }
            &.contact{
                position: relative;
                z-index: 10;
                width: 65%;
                margin: 70px 0;
                display: inline-block;
                &.right{
                    float: right;
                }
                h1{
                    text-shadow: -5px 0 $main-color; 
                    -webkit-text-stroke: 1px $main-color;
                    color: $main-light-color;
                }
                p{
                    color: $main-color;
                }
                .imcul:after{
                    content:attr(data-text);
                    font-family:  'arcadeclassics', monospace;
                    font-size: inherit;
                    text-shadow:-4px 0 red;
                    overflow:hidden;
                    background-color: transparent;
                    color: $main-light-color;
                    animation:9s infinite linear alternate-reverse;
                }
                .contact-info{
                    margin: 30px 0;
                    text-align: left;
                    h3{
                        padding: 30px;
                        line-height: 50px;
                    }
                    p{
                        line-height: 50px;
                        background-color: $font-color;
                        width: 107%;
                        display: inline-block;
                        padding: 0 220px;
                        margin: 10px -100px;
                    }
                    a{
                        display: inline-block;
                        position: relative;
                        color: $main-light-color;
                        &:hover{
                            text-decoration: none;
                            color: $font-light-color;
                        }
                    }

                }
            }
            &.bg{
                position: sticky;
                padding: 10px 10px;
                margin: 15% 5% 15% 0;
                z-index: -10;
                background: $main-light-color;
            }
            h1, h2, h3, p{
                color: #ff6161;
                display: inline;
            }
            h1{
                font-size: 3.5em;
            }
            h2{
                font-size: $h2-size;
            }
            .title:hover{
                animation-name: title;
                animation-duration: 5s;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }
            @keyframes title {
                0% {
                    color: $font-color;
                }
                50% {
                    color: $main-color;
                }
                100% {color: $font-light-color;}
            }
            .imcul:after{
                content:attr(data-text);
                background-color: #ff6161;
                font-family:  'arcadeclassics', monospace;
                left:3px;
                font-size: inherit;
                text-shadow:-2px 0 red;
                top:0;
                color:inherit;
                overflow:hidden;
                animation:9s infinite linear alternate-reverse;
            }

            .imcul:before{
                content:attr(data-text);
                font-family:  'arcadeclassics', monospace;
                left:-2px;
                text-shadow:2px 0 blue; 
                top:0;
                font-size: inherit;
                color:inherit;
                overflow:hidden; 
                animation:10s infinite linear alternate-reverse;
            }
        }

        .bg-img{
            max-width: 100%;
            background-color: $main-light-color;
            background-attachment: fixed;
            z-index: 200;
            mix-blend-mode: overlay;
        }
        section{
            padding: 0 5%;
            &#art{
                background: $font-light-color;
            }
            &#works{
                background: $main-color;
            }
            &#contact{
                background: $main-light-color;
            }
            .png{
                width: 40%;
                position: absolute;
                display: block;
                right: 5px;
                bottom: -116%;
                z-index: 0;
            }
            .itbtxt{
                padding: 5px 0;
                margin-left: -6px;
                width: 100.6%;
                color: $main-light-color;

                h2, p{
                    background-color: $font-color;
                    margin-bottom: .5rem;
                    padding-left: 10px;
                }        
            }



            .car {
                margin-top: 40px;
                width: 40%;
                position: sticky;
                animation-name: car;
                animation-duration: 5s;
                animation-delay: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }
            
            @keyframes car {
                0% {
                    left: 0px;
                    transform: rotate(-2deg);
                }
                50% {
                    left: 15px;
                    transform: rotate(-4deg);
                }
                100% { left:0px;transform: rotate(-2deg);}
            }
            .block{
                width: 100%;
                background: $font-light-color;
                height: 120px;
                position: relative;
                z-index: 200;
                border-bottom: 10px dashed $font-color;
            }
            .block.title{
                width: 100%;
                background: $font-light-color;
                height: 120px;
                position: relative;
                z-index: 200;
                border: none;
                text-align: center;
                h1{
                    font-size: 3em;
                    padding: 25px;
                    text-shadow: -5px 0 $main-light-color; 
                    -webkit-text-stroke: 1px $main-light-color;
                    color: transparent;
                }
            }
            .bg{
                width: 100%;
                background: $main-light-color;
                height: 100%;
                position: relative;
                padding: 30px 0;
                .carousel-item{
                    text-align: center;
                    .itbtxt{
                        width: 40%;
                        display: inline-block;
                    }
                    .pic{
                        height: 90vh;
                        display: inline-block;
                        position: relative;
                        margin: 5px auto;
                    }
                }
                .carousel-control-prev-icon, .carousel-control-next-icon{
                    width: 40px;
                    height: 40px;
                }
                .carousel-control-next, .carousel-control-prev{
                    color: $font-color;
                    mix-blend-mode: difference;
                }
            }
            .bg-art{
                width: 100%;
                background: $font-light-color;
                display: block;
                padding: 30px 0;
                margin: 0;
                .carousel-item{
                    text-align: center;
                    .pic{
                        height: 80vh;
                        display: inline-block;
                        position: relative;
                        margin: 5px auto;
                    }
                }
                .carousel-control-prev-icon, .carousel-control-next-icon{
                    width: 40px;
                    height: 40px;
                }
                .carousel-control-next, .carousel-control-prev{
                    color: $font-color;
                    mix-blend-mode: difference;
                }
 
            }
            .bg-works{
                display: block;
                padding: 30px 0;
                margin: 0;
                padding: 80px 0;
                height: 100%;
                .pic{
                    width: 100%;
                    display: inline-block;
                    position: relative;
                    margin: 5px;
                }
                .carousel {
                    position: relative;
                    display: block;
                    width: 50%;
                    float: right;
                    &.left{
                        float: none;
                        display: inline-block;
                    }
                    .carousel-control-next, .carousel-control-prev{
                        color: $main-light-color;
                        mix-blend-mode: difference;
                    }
                }
            }
            .bg-contact{
                width: 100%;
                height: 800px;
                display: block;
                margin: 0;
                border-left: 20px dashed $main-color;
                border-right: 20px dashed $main-color;
                .pic{
                    height: 800px;
                    display: inline-block;
                    position: absolute;
                    margin: 5px;
                    z-index: 200;
                }
                .btn{
                    margin: 10px auto;
                    background: $font-color;
                    color: $main-light-color;
                    font-family: 'AtamiB', monospace;
                    &:hover{
                        cursor: none;
                        background: transparent;
                        color: $main-color;
                        border: 2px solid $font-color;
                    }
                }
                .btn.insta{
                    margin: 10px auto;
                    background: rgb(254,218,117);
                    background: linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 23%, rgba(214,41,118,1) 48%, rgba(150,47,191,1) 75%, rgba(79,91,213,1) 100%);
                    color: $main-light-color;
                    font-family: 'AtamiB', monospace;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        cursor: none;
                        background: transparent;
                        color: $main-color;
                        border: 2px solid;
                        border-image: linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 23%, rgba(214,41,118,1) 48%, rgba(150,47,191,1) 75%, rgba(79,91,213,1) 100%);
                    }
                } 
            }
        }


        .circle-cursor {
            position: fixed;
            left: 0;
            top: 0;
            pointer-events: none;
            border-radius: 50%;
            
        
            &--outer {
                width: 40px;
                height: 40px;
                border: 1.5px solid #fff;
                mix-blend-mode: difference;
                z-index: 12000;
                opacity: 0.5;
            }
        
            &--inner {
                mix-blend-mode: difference;
                width: 10px;
                height: 10px;
                left: -5px;
                top: -5px;
                z-index: 12000;
                background: #fff;
            }
        }

    }
    .web.dark{
        font-family: 'AtamiB', monospace;
        background-color: $main-color;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        transition: background-color 0.5s ease-in-out;
        &.art{
            background: $font-color;
        }
        .first, section{
            height: 800px;
            @media only screen and (max-height: 1200px) {
                min-height: 1200px;
                height: 100%;
            }
            @media only screen and (max-height: 1100px) {
                height: 100%;
                min-height: 1100px;
            }
            @media only screen and (max-height: 1000px) {
                height: 100%;
                min-height: 1000px;
            }
            @media only screen and (max-height: 900px) {
                height: 100%;
                min-height: 900px;
            }
            @media only screen and (max-height: 800px) {
                height: 100%;
                min-height: 800px;
            }
            @media only screen and (max-height: 700px) {
                height: 100%;
                min-height: 700px;
            }
            &#contact{
                @media only screen and (max-height: 1200px) {
                    min-height: 800px;
                    height: 100%;
                }
                @media only screen and (max-height: 1100px) {
                    height: 100%;
                    min-height: 700px;
                }
                @media only screen and (max-height: 1000px) {
                    height: 100%;
                    min-height: 600px;
                }
                @media only screen and (max-height: 900px) {
                    height: 100%;
                    min-height: 500px;
                }
                @media only screen and (max-height: 800px) {
                    height: 100%;
                    min-height: 500px;
                }
                @media only screen and (max-height: 700px) {
                    height: 100%;
                    min-height: 500px;
                }
            }

        }
        .fixed{
            position: fixed;
            padding: 10px 10px;
            margin: 15% 5% 15% 0;
            z-index: -10;
            text-align: center;
            &.art{
                position: relative;
                z-index: 10;
                margin: 0;
                h1{
                    text-shadow: -5px 0 $main-color; 
                    -webkit-text-stroke: 1px $main-color;
                }
                p{
                    color: $main-color;
                }
                .imcul:after{
                    content:attr(data-text);
                    font-family:  'arcadeclassics', monospace;
                    font-size: inherit;
                    text-shadow:-4px 0 blue;
                    overflow:hidden;
                    animation:9s infinite linear alternate-reverse;
                }
            }
            &.works{
                position: relative;
                z-index: 10;
                width: 50%;
                margin: 0;
                display: inline-block;
                text-align: left;
                &.right{
                    float: right;
                    text-align: right;
                }
                h1{
                    text-shadow: -5px 0 $main-light-color; 
                    -webkit-text-stroke: 1px $main-light-color;
                    color: #37363c;
                }
                p{
                    color: $main-light-color;
                }
                .imcul:after{
                    content:attr(data-text);
                    font-family:  'arcadeclassics', monospace;
                    font-size: inherit;
                    text-shadow:-4px 0 blue;
                    overflow:hidden;
                    background-color: transparent;
                    color: $main-color;
                    animation:9s infinite linear alternate-reverse;
                }
            }
            &.contact{
                position: relative;
                z-index: 10;
                width: 70%;
                margin: 70px 0;
                display: inline-block;
                &.right{
                    float: right;
                }
                h1{
                    text-shadow: -5px 0 $main-light-color; 
                    -webkit-text-stroke: 1px $main-light-color;
                    color: $main-color;
                }
                p{
                    color: $main-light-color;
                }
                .imcul:after{
                    content:attr(data-text);
                    font-family:  'arcadeclassics', monospace;
                    font-size: inherit;
                    text-shadow:-4px 0 blue;
                    overflow:hidden;
                    background-color: transparent;
                    color: $main-light-color;
                    animation:9s infinite linear alternate-reverse;
                }
                .contact-info{
                    margin: 30px 0;
                    text-align: left;
                    h3{
                        padding: 30px;
                        line-height: 50px;
                    }
                    p{
                        line-height: 50px;
                        background-color: $font-light-color;
                        width: 107%;
                        display: inline-block;
                        padding: 0 220px;
                        margin: 10px -100px;
                    }
                    a{
                        display: inline-block;
                        position: relative;
                        color: $main-color;
                        &:hover{
                            text-decoration: none;
                            color: $font-color;
                        }
                    }
                }
            }
            &.bg{
                position: sticky;
                padding: 10px 10px;
                margin: 15% 5% 15% 0;
                z-index: -10;
                background: $main-color;
            }
            h1, h2, h3, p{
                color: $font-color;
                display: inline;
            }
            h1{
                font-size: 3.5em;
            }
            h2{
                font-size: $h2-size;
            }
            .title:hover{
                animation-name: title;
                animation-duration: 5s;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }
            @keyframes title {
                0% {
                    color: $font-color;
                }
                50% {
                    color: $main-color;
                }
                100% {color: $font-light-color;}
            }
            .imcul:after{
                content:attr(data-text);
                background-color: $font-color;
                font-family:  'arcadeclassics', monospace;
                left:3px;
                font-size: inherit;
                text-shadow:-2px 0 blue;
                top:0;
                color:inherit;
                overflow:hidden;
                animation:9s infinite linear alternate-reverse;
            }

            .imcul:before{
                content:attr(data-text);
                font-family:  'arcadeclassics', monospace;
                left:-2px;
                text-shadow:2px 0 red;
                top:0;
                font-size: inherit;
                color:inherit;
                overflow:hidden; 
                animation:10s infinite linear alternate-reverse;
            }
        
        }

        .bg-img{
            max-width: 100%;
            background-color: $main-light-color;
            background-attachment: fixed;
            z-index: 200;
            mix-blend-mode: overlay;
        }
        section{
            padding: 0 5%;
            &#art{
                background: $font-color;
            }
            &#works{
                background: #37363c;
            }
            &#contact{
                background: $main-color;
            }
            .png{
                width: 40%;
                position: absolute;
                display: block;
                right: 5px;
                bottom: -116%;
                z-index: 0;
            }
            .itbtxt{
                padding: 5px 0;
                margin-left: -6px;
                width: 100.6%;
                color: $main-light-color;

                h2, p{
                    background-color: $font-color;
                    margin-bottom: .5rem;
                    padding-left: 10px;
                }        
            }



            .car {
                margin-top: 40px;
                width: 40%;
                position: sticky;
                animation-name: car;
                animation-duration: 5s;
                animation-delay: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }
            
            @keyframes car {
                0% {
                    left: 0px;
                    transform: rotate(-2deg);
                }
                50% {
                    left: 15px;
                    transform: rotate(-4deg);
                }
                100% { left:0px;transform: rotate(-2deg);}
            }
            .block{
                width: 100%;
                background: $font-color;
                height: 120px;
                position: relative;
                z-index: 200;
                border-bottom: 10px dashed $font-light-color;
            }
            .block.title{
                width: 100%;
                background: $font-color;
                height: 120px;
                position: relative;
                z-index: 200;
                border: none;
                text-align: center;
                h1{
                    font-size: 3em;
                    padding: 25px;
                    text-shadow: -5px 0 $main-color; 
                    -webkit-text-stroke: 1px $main-color;
                    color: transparent;
                }
            }
            .bg{
                width: 100%;
                background: $main-color;
                height: 100%;
                position: relative;
                padding: 30px 0;
                .carousel-item{
                    text-align: center;
                    .itbtxt{
                        width: 40%;
                        display: inline-block;
                    }
                    .pic{
                        height: 90vh;
                        display: inline-block;
                        position: relative;
                        margin: 5px auto;
                    }
                }
                .carousel-control-prev-icon, .carousel-control-next-icon{
                    width: 40px;
                    height: 40px;
                }
                .carousel-control-next, .carousel-control-prev{
                    color: $font-color;
                    mix-blend-mode: difference;
                }
            }
            .bg-art{
                width: 100%;
                background: $font-color;
                display: block;
                padding: 30px 0;
                margin: 0;
                .carousel-item{
                    text-align: center;
                    .pic{
                        height: 80vh;
                        display: inline-block;
                        position: relative;
                        margin: 5px auto;
                    }
                }
                .carousel-control-prev-icon, .carousel-control-next-icon{
                    width: 40px;
                    height: 40px;
                }
                .carousel-control-next, .carousel-control-prev{
                    color: $font-color;
                    mix-blend-mode: difference;
                }
 
            }
            .bg-works{
                display: block;
                padding: 30px 0;
                margin: 0;
                padding: 80px 0;
                height: 100%;
                .pic{
                    width: 100%;
                    display: inline-block;
                    position: relative;
                    margin: 5px;
                }
                .carousel {
                    position: relative;
                    display: block;
                    width: 50%;
                    float: right;
                    &.left{
                        float: none;
                        display: inline-block;
                    }
                    .carousel-control-next, .carousel-control-prev{
                        color: $main-light-color;
                        mix-blend-mode: difference;
                    }
                }
            }
            .bg-contact{
                width: 100%;
                height: 800px;
                display: block;
                margin: 0;
                border-left: 20px dashed $main-light-color;
                border-right: 20px dashed $main-light-color;
                .pic{
                    height: 800px;
                    display: inline-block;
                    position: absolute;
                    margin: 5px;
                    z-index: 200;
                }
                .btn{
                    margin: 10px auto;
                    background: $font-color;
                    color: $main-color;
                    font-family: 'AtamiB', monospace;
                    &:hover{
                        cursor: none;
                        background: transparent;
                        color: $main-light-color;
                        border: 2px solid $font-color;
                    }
                }
                .btn.insta{
                    margin: 10px auto;
                    background: rgb(254,218,117);
                    background: linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 23%, rgba(214,41,118,1) 48%, rgba(150,47,191,1) 75%, rgba(79,91,213,1) 100%);
                    color: $main-color;
                    font-family: 'AtamiB', monospace;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        cursor: none;
                        background: transparent;
                        color: $main-light-color;
                        border: 2px solid;
                        border-image: linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 23%, rgba(214,41,118,1) 48%, rgba(150,47,191,1) 75%, rgba(79,91,213,1) 100%);
                    }
                } 
            }
        }
        .circle-cursor {
            position: fixed;
            left: 0;
            top: 0;
            pointer-events: none;
            border-radius: 50%;
            
        
            &--outer {
                width: 40px;
                height: 40px;
                border: 1.5px solid #fff;
                mix-blend-mode: difference;
                z-index: 12000;
                opacity: 0.5;
            }
        
            &--inner {
                mix-blend-mode: difference;
                width: 10px;
                height: 10px;
                left: -5px;
                top: -5px;
                z-index: 12000;
                background: #fff;
            }
        }
        
    }
}