
  /*Neon*/

.blue{
  color: rgb(255, 255, 255);
  -webkit-animation: neonDarktxt 1.5s ease-in-out infinite alternate;
  -moz-animation: neonDarktxt 1.5s ease-in-out infinite alternate;
  animation: neonDarktxt 1.5s ease-in-out infinite alternate;
}

.lime{
  color: #fff;
  -webkit-animation: neonDarkbox 1.5s ease-in-out infinite alternate;
  -moz-animation: neonDarkbox 1.5s ease-in-out infinite alternate;
  animation: neonDarkbox 1.5s ease-in-out infinite alternate;
}
.red{
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
.orange{
    color: #FF9900;
    -webkit-animation: neonLighttxt 1.5s ease-in-out infinite alternate;
    -moz-animation: neonLighttxt 1.5s ease-in-out infinite alternate;
    animation: neonLighttxt 1.5s ease-in-out infinite alternate;
  }
  
  p a:hover {
    color: #ffffff;
  }
  /*glow for webkit*/
  
  @-webkit-keyframes neonDarktxt {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(17, 61, 255), 0 0 70px rgb(17, 112, 255), 0 0 80px rgb(17, 128, 255), 0 0 100px rgb(17, 120, 255), 0 0 150px rgb(17, 41, 255);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(17, 112, 255), 0 0 35px  rgb(17, 128, 255), 0 0 40px rgb(17, 73, 255), 0 0 50px rgb(17, 41, 255), 0 0 75px rgb(17, 53, 255);
    }
  }
  
  @-webkit-keyframes neonDarkbox {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(17, 219, 255), 0 0 70px rgb(17, 219, 255), 0 0 80px rgb(17, 219, 255), 0 0 100px rgb(17, 219, 255), 0 0 150px rgb(17, 219, 255);
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(17, 219, 255), 0 0 35px  rgb(17, 219, 255), 0 0 40px rgb(17, 219, 255), 0 0 50px rgb(17, 219, 255), 0 0 75px rgb(17, 219, 255);
    }
  }
  @-webkit-keyframes neonLightbox {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(255, 17, 49), 0 0 70px rgb(255, 17, 17), 0 0 80px rgb(255, 17, 17), 0 0 100px rgb(255, 17, 17), 0 0 150px rgb(255, 17, 17);
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 17, 17), 0 0 35px rgb(255, 17, 17), 0 0 40px rgb(255, 17, 17),  0 0 50px rgb(255, 17, 17), 0 0 75px rgb(255, 17, 17);
    }
  }
  
  @-webkit-keyframes neonLighttxt {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(255, 114, 71), 0 0 50px rgb(255, 114, 71), 0 0 60px rgb(255, 114, 71), 0 0 70px rgb(255, 114, 71), 0 0 80px rgb(255, 114, 71);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 114, 71), 0 0 35px rgb(255, 114, 71), 0 0 40px rgb(255, 114, 71), 0 0 50px rgb(255, 114, 71), 0 0 75px rgb(255, 114, 71);
    }
  }
  
  /*glow for mozilla*/
  
  @-moz-keyframes neonDarktxt {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(17, 61, 255), 0 0 70px rgb(17, 112, 255), 0 0 80px rgb(17, 128, 255), 0 0 100px rgb(17, 120, 255), 0 0 150px rgb(17, 41, 255);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(17, 112, 255), 0 0 35px rgb(17, 128, 255), 0 0 40px  rgb(17, 73, 255), 0 0 50px rgb(17, 41, 255), 0 0 75px rgb(17, 53, 255);
    }
  }

  @-moz-keyframes neonDarkbox {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(17, 219, 255), 0 0 70px rgb(17, 219, 255), 0 0 80px rgb(17, 219, 255), 0 0 100px rgb(17, 219, 255), 0 0 150px rgb(17, 219, 255);
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(17, 219, 255), rgb(17, 219, 255) rgb(17, 219, 255), rgb(17, 219, 255)x rgb(17, 219, 255), 0 0 50px rgb(17, 219, 255), 0 0 75px rgb(17, 219, 255);
    }
  }
  
  @-moz-keyframes neonLightbox {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(255, 17, 49), 0 0 70px rgb(255, 17, 17), 0 0 80px rgb(255, 17, 17), 0 0 100px rgb(255, 17, 17), 0 0 150px rgb(255, 17, 17);
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 17, 17), rgb(255, 17, 17)x rgb(255, 17, 17), rgb(255, 17, 17)x rgb(255, 17, 17), 0 0 50px rgb(255, 17, 17), 0 0 75px rgb(255, 17, 17);
    }
  }
  @-moz-keyframes neonLighttxt {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(255, 114, 71), 0 0 50px rgb(255, 114, 71), 0 0 60px rgb(255, 114, 71), 0 0 70px rgb(255, 114, 71), 0 0 80px rgb(255, 114, 71);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 114, 71), 0 0 35px rgb(255, 114, 71), 0 0 40px rgb(255, 114, 71), 0 0 50px rgb(255, 114, 71), 0 0 75px rgb(255, 114, 71);
    }
  }
  /*glow*/
  
  @keyframes neonDarktxt {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(17, 61, 255), 0 0 70px rgb(17, 112, 255), 0 0 80px rgb(17, 128, 255), 0 0 100px rgb(17, 120, 255), 0 0 150px rgb(17, 41, 255);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(17, 112, 255), 0 0 35px rgb(17, 128, 255), 0 0 40px  rgb(17, 73, 255), 0 0 50px rgb(17, 41, 255), 0 0 75px rgb(17, 53, 255);
    }
  }
  @keyframes neonDarkbox {
    0%, 20%, 22%, 25%, 28%, 55%, 57%, 63%, 100% {
  /*     text-shadow:  0 0 2px #000, 
        0 0 10px var(--neon-text-color), 
        0 0 5px var(--neon-text-color),
        0 0 25px var(--neon-text-color); */
      color: rgb(17, 219, 255);
      box-shadow: 0 0 .5rem #fff,
              inset 0 0 .5rem #fff,
              0 0 2rem rgb(17, 219, 255),
              inset 0 0 2rem rgb(17, 219, 255),
              0 0 4rem rgb(17, 219, 255),
              inset 0 0 4rem rgb(17, 219, 255);
      border-color: rgb(17, 219, 255);
    }
    21%, 24%, 56% {
  /*     text-shadow: none; */
      box-shadow: none;
    } 
  }
  @keyframes neonLightbox {
    0%, 20%, 22%, 25%, 28%, 55%, 57%, 63%, 100% {
  /*     text-shadow:  0 0 2px #000, 
        0 0 10px var(--neon-text-color), 
        0 0 5px var(--neon-text-color),
        0 0 25px var(--neon-text-color); */
      color: rgb(255, 193, 182);
      box-shadow: 0 0 .5rem #fff,
              inset 0 0 .5rem #fff,
              0 0 2rem rgb(255, 193, 182),
              inset 0 0 2rem rgb(255, 193, 182),
              0 0 4rem rgb(255, 193, 182),
              inset 0 0 4rem rgb(255, 193, 182);
      border-color: rgb(255, 193, 182);
    }
    21%, 24%, 56% {
  /*     text-shadow: none; */
      box-shadow: none;
    } 
  }
  
  @keyframes box {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(255, 17, 49), 0 0 70px rgb(255, 17, 17), 0 0 80px rgb(255, 17, 17), 0 0 100px rgb(255, 17, 17), 0 0 150px rgb(255, 17, 17);
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 17, 17), rgb(255, 17, 17)x rgb(255, 17, 17), rgb(255, 17, 17)x rgb(255, 17, 17), 0 0 50px rgb(255, 17, 17), 0 0 75px rgb(255, 17, 17);
    }
  }
  @keyframes neonLighttxt {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(255, 114, 71), 0 0 50px rgb(255, 114, 71), 0 0 60px rgb(255, 114, 71), 0 0 70px rgb(255, 114, 71), 0 0 80px rgb(255, 114, 71);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 114, 71), 0 0 35px rgb(255, 114, 71), 0 0 40px rgb(255, 114, 71), 0 0 50px rgb(255, 114, 71), 0 0 75px rgb(255, 114, 71);
    }
  }
  /*REEEEEEEEEEESPONSIVE*/
  
  @media (max-width: 650px) {
    #container {
      width: 100%;
    }
    p {
      font-size: 3.5em;
    }
  }